
.article-container {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 328px;
  height: 123px;
  background: white;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 12px;
  background: #FFFFFF;
  box-shadow: 0px 3px 28px rgba(0, 0, 0, 0.08);

}

.article-container:hover h5 {
  color: gray;
}

.article-container:hover {
opacity: 100%;
box-shadow: 5px 10px gray;
}

.article-container header {

  margin-left: 4.88%;
  margin-right: 4.88%;
  margin-top: 4.07%;
  margin-bottom: 91.09%;
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.82);
  font-family: sans-serif;
}


.article-given {
  margin-left: 4.88%;
  margin-right: 4.88%;
  margin-top: 9.92%;
  margin-bottom: 78.88%;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.82);
  font-family: sans-serif;
  word-break: break-word;

}

  .submission2 {
    height: 11px;
    margin-left: 8.84%;
    /* margin-right: 79.88%; */
    margin-top: calc(50% - 11px/2 - 95.5px);
    /* margin-bottom: 78.88%; */
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 11px;
    color: rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
    word-break: break-word;
  }


